<!--<app-card>-->
<!--  <div class="texto">-->
<!--    TEXTO-->
<!--  </div>-->
<!--  <div class="outro-texto">-->
<!--    OUTRO TEXTO-->
<!--  </div>-->
<!--</app-card>-->

<!--<app-card>-->
<!--  <div card-content>-->
<!--    SOU O CONTENT-->
<!--  </div>-->
<!--  <div card-footer>-->
<!--    SOU O FOOTER-->
<!--  </div>-->
<!--  <div card-header>-->
<!--    SOU O HEADER-->
<!--  </div>-->
<!--</app-card>-->


<app-card>
  <app-comp-texto>
  </app-comp-texto>
  <button type="button"></button>
</app-card>
