<div class="menu">
  <div class="menu__item">
    <a class="menu__link" (click)="navigateInitial()">
      Inicial
    </a>
  </div>
  <div class="menu__item">
    <a class="menu__link" (click)="navigateContacts()">
      Contatos
    </a>
  </div>
  <div class="menu__item">
    <a class="menu__link" (click)="navigateInformations()">
      Informações
    </a>
  </div>
  <div class="menu__item">
    <a class="menu__link" (click)="navigateCards()">
      Cartões
    </a>
  </div>
</div>

<router-outlet></router-outlet>
