<!-------------------------------------------------------------------------------------------->
<!--  ESCOPOS -->
<!-------------------------------------------------------------------------------------------->

  <!--<div class="primo">-->
  <!--&lt;!&ndash;  {{ inputPai }}&ndash;&gt;-->
  <!--&lt;!&ndash;  {{ inputFilha }}&ndash;&gt;-->
  <!--</div>-->

  <!--<div class="pai" *ngIf="true">-->
  <!--  <input #inputPai>-->

  <!--&lt;!&ndash;  {{ inputFilha }}&ndash;&gt;-->

  <!--  <div class="filha" *ngIf="true">-->
  <!--    <input #inputFilha>-->

  <!--    {{ inputPai }}-->
  <!--  </div>-->

  <!--</div>-->

<!-------------------------------------------------------------------------------------------->
<!-- HTML COM @ViewChild -->
<!-------------------------------------------------------------------------------------------->

  <!--Meu input: <input type="text" #meuInput>-->

  <!--<button (click)="updateInputText()">Atualizar</button>-->
  <!--<button (click)="focus()">Focar no Input</button>-->

  <!--<div #minhaDiv>-->
  <!--  Conteudo Inicial.-->
  <!--</div>-->

  <!--<button (click)="mudarConteudo()">Atualizar Div com Input</button>-->

<!-------------------------------------------------------------------------------------------->
<!-- ACESSAR FILHOS COM VIEWCHILD -->
<!-------------------------------------------------------------------------------------------->

  <!--<app-filho #filhoComp></app-filho>-->

  <!--<button (click)="hello()">Oi</button>-->

<!-------------------------------------------------------------------------------------------->
<!-- CONFIGURAÇÃO STATIC DOS FILHOS -->
<!-------------------------------------------------------------------------------------------->

  <!--Meu Input:-->
  <!--<input-->
  <!--  type="text"-->
  <!--  *ngIf="true"-->
  <!--  #meuInput>-->

<!-------------------------------------------------------------------------------------------->
<!-- USANDO VIEW CHILDREN -->
<!-------------------------------------------------------------------------------------------->

<!--  <button-->
<!--    #meuButton-->
<!--    class="btn-{{ i }}"-->
<!--    *ngFor="let btn of buttonsList; let i = index"-->
<!--    (click)="changeColor($event)"-->
<!--  >-->
<!--    {{btn}}-->
<!--  </button>-->

<!--  <button-->
<!--    (click)="resetButtons()"-->
<!--  >-->
<!--    Resetar-->
<!--  </button>-->

<!--  <button-->
<!--    (click)="first()"-->
<!--  >-->
<!--    Pegar Primeiro-->
<!--  </button>-->

<!--  <button-->
<!--    (click)="remove()"-->
<!--  >-->
<!--    Remover Item-->
<!--  </button>-->
